# IPython notebook checkpoints
.ipynb_checkpoints

# Python Cache
*.pyc

*.DS_Store

# old and new logs / model / weights
model/
logs/
*.old/
weights/

# data and stacked vectorial data
data/
dataset/
stack/

*.edf
*.edf.event

*.pdf

demo.py
demo.ipynb

.vscode
